/*************************************************************************/
/*                                                                       */
/*                                                                       */
/*     AQUÍ IRÁ EL COMENTARIO DE MI TRABAJO                                                                   */ 
/*                                                                       */
/*                                                                       */
/*************************************************************************/

@font-face {
    font-family: texto;
    src: url(../font/southing.regular.ttf);
}

@font-face {
    font-family: titulos;
    src: url(../font/autumn-in-november.zip);
}

/************** layout general ************/

body {background-color: saddlebrown;
    color: white;
    font-family: texto;
    font-size: 2.5em;
    margin: 0%;
    padding-top: 7.5%;
    padding-bottom: 7.5%;}

#wrapper {width: 75%;
            margin: auto;
            background-color: black;}

/****************** barra de navegacion **********/

nav {font-family: titulos;}

/*********** hero section *******************/

#hero {background-image: url(../img/fondo-marron7.jpg);
        height: 70vh;
        background-size: cover;
        background-position: center;
        font-size: 1.25em;
        font-family: titulos;
        padding-left: 5%;
        }

#fotos {background-image: url(../img/Camiseta\ de\ cable\ con\ bordado\ de\ letras.jpeg);
        height: 70vh;
        background-size: cover;
        background-position: center;
        
        }

#fotos1 {background-image: url(../img/Camiseta\ de\ hombros\ caídos\ con\ estampado\ de\ slogan.jpeg);}

#titulo_gallery {text-align: center;
                padding-top: 15.5%;
                font-family: titulos;
                font-size: 1.25em;}

#Bienvenida     {text-align: center;
                padding-top: 0%;
                font-family: titulos;
                font-size: 1.25;
                border: 2px solid chocolate;
                border-radius: 40px 40px 40px 40px;
                box-shadow: -5px 8px 8px sienna;}
/*******************responsividad***************/

@media only screen and (width<650px){
    #wrapper {width: 95%;}
}